

#content-wrap {
    padding-bottom: 6rem;
}


#page-container {
    position: relative;
    min-height: 100vh;
}

#logo{
    width: 50px;
    position: relative;
    background-color: black;
    border:solid;
    border-color:lightblue;
} 

#logo2{
    width: 34px;
    position: relative;
    background-color: black;
    border:solid;
    border-color:lightblue;
} 

#a1{
    margin: 0px 16px 0px 0px;
    font-size: 2.2em;
}

#a2{
    margin: 0px 16px 0px 0px;
    font-size: 1.6em;
}


#navbarTop{
    font-size: 1.4em;
}

.navbar-nav.ml-auto> li{
    padding-right:35px;
  }

.banner{    
    display:block;
    width: 100%;
    min-width: 100%;
    margin: -12% 0;
    filter: brightness(50%);
}

#first{
    text-align: center;
    font-size: 2.5vw;
    background-color: light;
}

#firstInfo>img{
    vertical-align: middle;
    width: 1.5em;
}

#firstInfo{
    line-height: 2em;
}

#first-left div{
    margin: 0 auto;
    margin-top: 3%;
    padding: 0 auto;
    width: 50%;
}

#first-right> div{
    margin: 0 auto;
    margin-top: 3%;
    padding: 0 auto;
    width: 60%;
}

#me{
    display: block;
    width: 100%;
    animation: blink 1s;
    animation-iteration-count: infinite;
}

#innertxtme{
    position: absolute;
    bottom: 20%;
    font-family: 'Courier New';
    height: auto;
    font-size: 0.6em;
    left:40%;
    transform: translate(-55%,-80%);
    color:white;
}

#metxt{
    position: absolute;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background: blue;
}

@media(max-width:1000px){
    #me{
        display: block;
        width: 100%;
        animation: none;
    }
    #innertxtme{
        position: absolute;
        font-family: 'Courier New';
        bottom: 20%;
        height: auto;
        font-size: 0.6em;
        left:40%;
        transform: translate(-55%,-250%);
        color:white;
    }
    #metxt{
        position: absolute;
        width: 90%;
        opacity: 1;
        transition: .5s ease;
        background: blue;
    }
}

.meoverlay:hover #metxt{
    opacity: 1;
}

.meoverlay:active #metxt{
    opacity: 1;
}

#scrollExp .row{
    width: 200%;
}

@media(max-width:1200px) {
    #scrollExp .row{
        width: 400%;
    }
}
@media(max-width:600px) {
    #scrollExp .row{
        width: 800%;
    }
}

.experience img{
    object-fit: cover; 
    object-position: center; 
    width: 100%;
    max-height: 250px;
}

#abilities{
    background-color: gainsboro;
    border: solid;
    overflow: auto;
}

div[id^="chart"]{
    /* width: 1em; */
    display: flex;
    justify-content: center;
    
}

#abilities .habContent:hover{
    width:80%;
}

#imgSA{
    width: 100%;
}

#imgBIB{
    width: 20%;
    float: left;
}

#imgATP{
    width: 20%;
    float: left;
}

#imgSJ{
    width: 20%;
    float: left;
}

#txtFl{
    text-align: justify;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

#polychromeART{
    animation: blink 1s;
    animation-iteration-count: infinite;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 300px;
    transition: .5s ease;
}

#polychromeART:hover{
    filter: brightness(150%);
    animation: blink 10s;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
}

#sticky-footer{
    vertical-align: middle;
}

.footerimg{
    width: 50px;
    padding-left: 0.3em;
    -webkit-filter: invert(100%)
}