

#content-wrap {
    padding-bottom: 6rem;
}


#page-container {
    position: relative;
    min-height: 100vh;
}

#logo{
    width: 50px;
    position: relative;
    background-color: black;
    border:solid;
    border-color:lightblue;
} 

#logo2{
    width: 34px;
    position: relative;
    background-color: black;
    border:solid;
    border-color:lightblue;
} 

#a1{
    margin: 0px 16px 0px 0px;
    font-size: 2.2em;
}

#a2{
    margin: 0px 16px 0px 0px;
    font-size: 1.6em;
}


#navbarTop{
    font-size: 1.4em;
}

.navbar-nav.ml-auto> li{
    padding-right:35px;
  }

.banner{    
    display:block;
    width: 100%;
    min-width: 100%;
    margin: -12% 0;
    filter: brightness(50%);
}

#first{
    text-align: center;
    font-size: 2.5vw;
    background-color: light;
}

#firstInfo>img{
    vertical-align: middle;
    width: 1.5em;
}

#firstInfo{
    line-height: 2em;
}

#first-left div{
    margin: 0 auto;
    margin-top: 3%;
    padding: 0 auto;
    width: 50%;
}

#first-right> div{
    margin: 0 auto;
    margin-top: 3%;
    padding: 0 auto;
    width: 60%;
}

#me{
    display: block;
    width: 100%;
}

#innertxtme{
    position: absolute;
    bottom: 20%;
    height: auto;
    font-size: 0.8em;
    left:40%;
    transform: translate(-55%,-80%);
    color:white;
}

#metxt{
    position: absolute;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background: blue;
}

.meoverlay:hover #metxt{
    opacity: 0.7;
}

.meoverlay:active #metxt{
    opacity: 0.7;
}

#scrollExp .row{
    width: 200%;
}

@media(max-width:1200px) {
    #scrollExp .row{
        width: 400%;
    }
}
@media(max-width:600px) {
    #scrollExp .row{
        width: 800%;
    }
}

#abilities{
    background-color: gainsboro;
    overflow: auto;
}

#abilities .habContent
{
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-left: 2rem;
    margin-right: 2rem;
    width:5%;
    background-color: yellow;
    -webkit-transition: width 2s;
    transition: width 2s;
}

#abilities .habContent:hover{
    width:80%;
}

#imgSA{
    width: 100%;
}

#imgBIB{
    width: 20%;
    float: left;
}

#imgATP{
    width: 20%;
    float: left;
}

#imgSJ{
    width: 20%;
    float: left;
}

#txtFl{
    text-align: justify;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
}

#sticky-footer{
    vertical-align: middle;
}

.footerimg{
    width: 50px;
    padding-left: 0.3em;
    -webkit-filter: invert(100%)
}